@{
    ViewData["Title"] = "Home Page";
}

<head>
    <a href="~/lib/bootstrap/dist/css/bootstrap.min.css.map"></a>
</head>

<div class="text-center pb-3">
    <img src="~/originallogo2.png" class="img-fluid" alt="Responsive image">

    <h2>
        Challenging mat-based pilates classes you can do anytime, anywhere.
    </h2>
</div> 



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h5 class="display-4 text-left">GOOD FOR THE BODY</h5>
            <p class="text-left">
                Pilates will dial up your core, strengthening the deep muscles in the abdominal 
                and obliques. It will also increase stability in your shoulders and hips, 
                supporting your joints, improving flexibility and helping you move with greater 
                efficiency and control.
            </p>
            <h5 class="display-4 text-left">GOOD FOR THE MIND</h5>
            <p class="text-left">
                Pilates is a powerful practice for improving your mood and energy levels.
                With space to practice breathing techniques and mindful thinking, it can 
                help reduce stress and anxiety, enhance concentration,and even improve 
                sleeping habits.
            </p>

        </div>
        <div class="col-md-6">
            <img src="~/pilates1.jpeg" alt="Descriptive Text" class="img-fluid">
        </div>
    </div>
</div>






